a:link{
	color: blue;
}
a:visited{
	color: purple;
}

a:hover{
	color: green;
}
a:active{
	color: yellow;
}

p{
	text-align: justify;
	margin-right: 220px;
}

img{
	max-height: 600px;
}