.banner{
    height: 80px;
}

img{
    width: 100%;
  }
  
.main{
    padding: 80px 0;
    
}



.form{
    border: 1px solid grey;
    min-height: 300px;
}

.form .form-title{
    border-bottom: 1px solid grey;
    padding:10px 20px;
}

.form-content{
    padding: 20px;
}

.form-content input{
    width: 250px;
    outline: none;
    padding: 5px 10px;
}

.form-content button{
    background: black;
    color: white;
    border: none;
    padding: 10px 30px;
}

.main span{
    color: rgba(14, 11, 39, 0.699);
    cursor: pointer;
}




.forget-password{
    display: none;
}