.banner{
    height: 80px;
}

img{
    width: 100%;
  }
  
.main{
    padding: 80px 0;
    
}


.main .title-recruit{

}


.main .title-recruit h3{
    line-height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
}


.main .content-recruit{
    padding: 20px 0;
}

.main .content-recruit ul{
    padding: 0;
}

.main .content-recruit ul li{
    list-style: none;
}

.main .content-recruit ul li:hover{
    color: rgba(204, 66, 66, 0.616);
    cursor: pointer;
}