.banner {
  height: 80px;
}

img {
  width: 100%;
}

.breadcumb {
  padding: 30px 0;
}

.breadcumb span {
  color: rgba(146, 140, 140, 0.829);
}

.main {
  padding: 20px 0;
}

.choose-single-product {
  text-align: center;
  padding-bottom: 30px;
}

.choose-color {
  width: 250px;
  margin: 30px auto;
}

.choose-color label input[type="radio"] {
  display: none;
}

.choose-color label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.choose-color label input[type="radio"]:checked ~ span {
  border: 2px solid black;
}

.color-lip:nth-child(2) {
  background: red;
}

.quantity-add-to-cart {
  width: 100%;
  height: 40px;
}

.quantity-add-to-cart input {
  height: 100%;
  width: 60px;
  text-align: center;
  margin-right: 15px;
}

.quantity-add-to-cart button {
  height: 100%;
  padding: 0 15px;
  background: black;
  color: pink;
  border: none;
}

.quantity-add-to-cart button:hover {
  color: white;
}

.info-single-product {
  padding: 20px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.info-single-product p {
  width: 100%;
  height: 180px;
  overflow: scroll;
}



/* ********** */



.bg-evaluate{
  background: #dab0b02a;
}

.evaluate{
  padding: 50px 0;
  width: 100%;

  
}

.evaluate>h4{
  text-align: center;
  padding: 40px 0;
}

.evaluate ul{
  padding: 0;
  display: flex;
  
}

.evaluate ul li{
  padding-right: 5px;
  list-style: none;
  color: #f9bdbd;
}


.btn-rating button{
  margin-left: 100px;
  background: black;
  outline: none;
  border: none;
  color: #f9bdbd;
  padding: 5px 20px;
}





.evaluate-content{
  width: 100%;
  display: none;
}

.evaluate-content label{
  width: 100%;
}

.evaluate-content label input{
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

.evaluate-content label textarea{
  width: 100%;
}

.btn-submit-evaluate{
  text-align: right;
  padding: 10px 0;
}

.evaluate-content button{
  border: none;
  background: #53a1cc;
  color: white;
  padding: 5px 20px;
}




/* ********** */


.suggestions{}

.suggestions>h4{
  text-align: center;
  padding: 40px 0;
}











/* Video content */

.video-content {
  text-align: center;
  padding: 50px;
  background: black;
}

@media(max-width:576px){
  .video-content iframe{
    width: 100%;
    height: 250px;
  }
}

/* Instagram  */

.about-instagram {
  padding: 30px 0;
  background: #ffe6e7;
}

.about-instagram > h4 {
  text-align: center;
  padding: 30px 0;
}

.img-instagram {
  position: relative;
  overflow: hidden;
  padding: 5px;
}

/* End instagram */
