* {
    box-sizing: border-box;
}

.product {

    box-shadow: 0 5px 15px black;
    overflow: hidden;

    float: left;
    margin-bottom: 1rem;
}

.product .imgbox img {
    width: 100%;
    border-radius: 5px;
}

.product .imgbox {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.details {
    position: absolute;
    bottom: -20rem;
    width: 100%;
    background: white;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: 0.7s;
    padding: 7px;
    display: flex;
    justify-content: center;
}

.details h2 span {
    font-size: 12px;
    color: red;
    font-weight: normal;
}

.info .price {

    font-weight: bold;
    color: red;
    font-size: 20px;
}

.details label {
    display: block;
    margin-top: 5px;
    font-family: bold;
}

.details a {
    display: block;
    padding: 5px;
    margin: 15px 0 0;
    color: white;
    background: #CE2A2A;
    border:2px solid #CE2A2A;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 0.5rem;
    border-radius: 20px;
    cursor: pointer;
}

.details a:hover {
    color: #CE2A2A;
    background:white;
}

.product:hover .details {
    bottom: 0;
}




.product .info{
    padding: 0 1rem;
}