* {
    box-sizing: border-box;
}

/* Check Box */





.card {
    border: none;
    margin: 1rem 0;
}

.card-body {
    padding: 0 0 0.5rem 0;
}

/* Main */

#main {
    width: 100%;
    padding: 3rem;

}



.filter {
    margin-bottom: 3rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1.5rem;
}

#main #sp ul {
    padding-left: 0;
}

#main #sp ul li {
    list-style: none;
}

#main #sp ul li a {
    color: black;
    font-size: 24px;
}








/*  */



li{
    list-style: none;
}

#menu_filter {}

#menu_filter> ul>li{
    margin: 1rem 0;
}

#menu_filter #click{
    width: 100%;
    background: red;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

#menu_filter #click p{
    color: white;
    margin: 0;
}

#menu_filter #click .click_1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: white;
}


#menu_filter #con{
    padding: 0;
    overflow: hidden;
    background: grey;
    width: 100%;
    display: none;
}

#menu_filter #con label{
    margin: 0;
}

#menu_filter #con li{
    width: 500px;
    border-bottom: 1px solid white;
    padding: 10px 0;
}
