#main #image{
        max-height:15rem ;
        overflow: hidden;
}

#main #image1{
        max-height:10rem ;
        overflow: hidden;
}

#main p{
        border-bottom: 1px solid grey;
        
        padding-bottom: 1rem;
}

#main .a{
        margin-bottom: 1rem;
}