#header{
	background: white;
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
}

#header #logo{
	margin-top: 13px;
	margin-left: 100px;
}

#header img,p{
	float: left;
	max-width: 40px;
}

#header ul{
	margin-right: 20px;
}

#header ul li{
	float: right;
	list-style: none;
	margin: 10px;
}

#header #search{
	width: 200px;
	height: 30px;
	
	float: right;
	border-radius: 10%;
	border:1px solid #d9d9d9;
	margin-right: 30px;
}

#header #search img{
	height: 70%;
	padding-top: 5px;
}


#main{
	width: 100%;
	float: left;
	height: auto;
	margin-top: 60px;
}

#main #left{
    border-right: 1px solid #d9d9d9;
	width: 20%;
	float: left;
	
}

#main #right{
	float: left;
	
	width: 70%;
	height: auto;
}

#main #left ul{
	margin-left: 10px;
}

#main #left ul li{
	clear: left;
	list-style: none;
	margin-bottom: 20px;
}

#main #left img{
	width: 120px;
}


#main #right h3{
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 15px;
}

#main #right ul{
	margin-right: 10px;
}