
img {
  width: 100%;
}



.main {
  padding: 20px 0;
}

.main .img-item-other{
    padding: 10px 0;
}

.choose-single-product {
  
  padding-bottom: 30px;
}

.choose-size {
  width: 250px;
  margin: 10px 0;
}

.choose-size label{
    padding: 10px 5px;
}

.choose-size label input[type="radio"] {
  display: none;
}

.choose-size label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 1px;
  border: 1px solid grey;
  text-align: center;
  line-height: 35px;
}

.choose-size label input[type="radio"]:checked ~ span {
  background: rgba(255, 0, 0, 0.64);
  color: white;
  border:1px solid rgba(255, 0, 0, 0.64);
}

.quantity-add-to-cart {
  width: 100%;
  height: 40px;
}

.quantity-add-to-cart input {
  height: 100%;
  width: 60px;
  text-align: center;
  margin-right: 15px;
}

.quantity-add-to-cart button {
  height: 100%;
  padding: 0 15px;
  color: white;
  background: black;
  border: 1px solid black;
  
}

.quantity-add-to-cart button:hover {
  background: rgba(0, 0, 0, 0.418);
}

.info-single-product {
  padding: 20px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.info-single-product p {
  width: 100%;
  height: 180px;
  overflow: scroll;
}

/* ********** */

.bg-evaluate {
  background: #cccece6e;
}

.evaluate {
  padding: 50px 0;
  width: 100%;
}

.evaluate > h4 {
  text-align: center;
  padding: 40px 0;
}

.evaluate ul {
  padding: 0;
  display: flex;
}

.evaluate ul li {
  padding-right: 5px;
  list-style: none;
  color: black;
}

.btn-rating button {
  margin-left: 100px;
  background: black;
  outline: none;
  border: none;
  color: white;
  padding: 5px 20px;
}

.btn-rating button:hover{
    background: rgba(0, 0, 0, 0.418);
}

.evaluate-content {
  width: 100%;
  display: none;
}

.evaluate-content label {
  width: 100%;
}

.evaluate-content label input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

.evaluate-content label textarea {
  width: 100%;
}

.btn-submit-evaluate {
  text-align: right;
  padding: 10px 0;
}

.evaluate-content button {
  border: none;
  background: #53a1cc;
  color: white;
  padding: 5px 20px;
}

/* ********** */


.suggestions{}

.suggestions>h4{
  text-align: center;
  padding: 40px 0;
}




