

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .grid-item {
      width: 25%;
    }
    .top_nav {
      display: none;
    }
    .navbar_menu {
      display: none;
    }
    .hamburger_container {
      display: block;
    }
  }