* {
    box-sizing: border-box;
}


img {
    width: 100%;
}

.col{
    text-align: center;
}

ul{
    padding-left: 0.25rem;
}

html{
    font-size: 20px;
}



@media(max-width:1200px){
    html{
        font-size: 16px;
    }
}

@media(max-width:1000px){
    html{
        font-size: 12px;
    }
}

@media(max-width:800px){
    #price img{
        width: 70%;
    }
}

@media(max-width:700px){
    html{
        font-size: 8px;
    }

    #price img{
        width: 50%;
    }
}

@media(max-width:500px){
    html{
        font-size: 5px;
    }
}






